<p id="notice"></p>

<h1>Books</h1>
<!-- 一覧画面 -->
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
    <th colspan="3"></th>
    </tr>
  </thead>
    
  <tbody>
    <% @book.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.body %></td>
      </tr>
    <% end %>
    
  </tbody>
</table>


<!-- 投稿画面  -->
<h2>New Book</h2>

<%= form_with model: @Book, url: '/books', method: :post do |f| %>
  <div class="field">
    <label for="book_title">Title</label>
    <%= f.text_field :title %>
  </div>
  
  <div class="field">
    <label for="book_body">Body</label>
    <%= f.text_area :body %>
  </div>
	
  <div class="actions">
    <%= f.submit 'Create Book' %>
  </div>
<% end %>